includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - database/

    level: 5

    checkOctaneCompatibility: false
    checkModelProperties: true
